<article>
    <img src="/img/<%=product.img%>" width="360" alt="Cafetera" class="product_img">
    <div class="caracteristicasArticulo">
        <i class="fas fa-truck"></i>
        <p class= "precio">$<%=product.price%></p>
        <p class="descuento"><%=product.descuento%></p>
        <h4><%=product.name%></h4>
    </div>
</article>